* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

#product-overview {
    background: url("freedom.jpg");
    width: 100%;
    height: 528px;
    padding: 10px;   
}

.section-title {
    color: #2ddf5c;
    text-align: center;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

.plan {
    background-color: #d5ffdc;
    text-align: center;
    padding: 16px;
    margin: 8px;
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}

.plan--highlighted {
    background: #19b84c;
    color: white;
    box-shadow: 5px 5px 5px  rgba(0, 0, 0, 0.5);
}

.plan__annotation {
    background: white;
    color:green;
    padding: 5px 10px;
    display: inline-block;
    border: 2px solid white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

.plan__title {
    color: rgb(6, 122, 50);
}

.plan--highlighted .plan__title {
    color: white;
}

.plan__price{
    color: rgb(1, 163, 42);
}

.plan--highlighted .plan__price {
    color: rgb(12, 82, 12);
}

.plan__features{
    list-style: none;
    padding: 0px;
    margin: 10px ;
    text-align: center;
    display: inline-block;
}

.plan__features li {
    margin: 8px;
}

.button {
    background-color: #ff1b68;
    padding: 3px 5px;
    border: 2px solid transparent;
    border-radius: 4px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    font: inherit;
    font-weight: lighter;
}

.button:hover,
.button:active {
    background-color: ivory;
    color: #ff1b68;
    cursor: pointer;
}

.button:focus {
    outline: none;
}

#key-features {
    background:#ff1b68;
    margin: 80px;
    padding: 16px;
}

#key-features > .section-title {
    color: white;
    margin: 32px;
}

.key-feature__list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.key-feature{
    display: inline-block;
    width: 30%;
    vertical-align: top;
}

.key-feature__img {
    background:#ffcede;
    width: 128px;
    height: 128px;
    border: 2px solid #424242;
    border-radius: 50%;
    margin:0 auto;
   
    
}

.key-feature__description {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 20px;
}



/* h1 {
    font-family: sans-serif;
} */

.main-header {
    width: 100%;
    background: #2ddf5c;
    padding: 8px 16px;
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand {
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 74px);
    vertical-align: middle;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    margin: 0 16px;
}

.main-nav__item a {
    text-decoration: none;
    color: #0e4f1f;
    font-weight: bold;
    padding: 3px 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: white;
    border-bottom: 5px solid white;
}

.main-nav__item--cta a {
    color: white;
    background: #ff1b68;
    padding: 8px 16px;
    border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
    color: #ff1b68;
    background: white;
    border: none;
}