body {
    font-family: sans-serif;
}


#assignment-instructions {
    color: green;
    font-family: sans-serif;
}

code {
    color: red;
    font-family: monospace;
}

.second-rule code{
    color: green;
}

li + li {
    color: white;
    background: black;
}

ol > li {
    color: white;
    background: black;
}

